<nav class="navbar navbar-dark bg-primary">
  <a href="" class="navbar-brand">Control de rendimiento</a>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <form action="" method="post">
        <div class="imgcontainer"></div>
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="uname"
            class="form-control"
          />

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            class="form-control"
          />
          <div class="mt-2">
            <span class="mr-4"><a href="#">Sign in</a></span>
            <span class="mr-4"><a href="#">Forgot password?</a></span>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn btn-success">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
